

#title {
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;
  text-align: center;
  color: aliceblue;
  width: 100%;
  font-weight: 100;
  left: 5px;
  padding: 20px 20px;
}

#title:hover {
  text-shadow: 4px 4px 6px rgb(1, 2, 43);
}

.taskbar {
  position: fixed;
  padding: 1px 1px;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #181823;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.taskbar a {
  text-decoration: none;
  font-size: 25px;
}

.Footer {
  bottom: 0;
  left: 0;
  background-color: #E9F8F9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height : 50px;
  position: fixed;
  color: aliceblue;
  position: static;
}

.Footer a {
  text-decoration: None;
  color: #181823;
  padding: 10px 20px;
  font-family: 'Garelina', sans-serif;
}

.Footer a:hover {
  color: #537FE7;
}

.Head {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #3288df;
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  position: static;
  box-shadow: 10px 10px 10px #fff;
}


.Head a {
  text-decoration: none;
  padding: 7.5px 20px;
  color: #fff;
  font-family: 'Notom Sans', sans-serif;
  font-weight: 50;  
  border: .5px solid #181823;
  border-radius: 0px;
  cursor: pointer;
}

.Head a:hover {
  color: #181823;
  border: .5px solid rgb(0, 0, 0);
  box-shadow: inset 0 0 10px -5px rgba(0, 0, 0, 0.5)
}

.main_page {
  top: 120px;
  background-color: #C0EEF2;
  height: 675px;
  background-repeat: no-repeat;
  position: static;
  margin-left: 0;
  left: 0;
  background-image: url('Pictures/Blue.jpg');
  backdrop-filter: blur(10px);
  background-size: cover;
}


.main_page h1{
  font-family: 'Raleway', sans-serif;
  color: #fff;
  position: relative;
  text-align: center;
  top: 250.5px;
  font-weight: 600;
  font-size: 50px;
}

.main_page h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
  position: relative;
  text-align: center;
  top: 280px;
  font-size: 70px;
}

.panel {
  top: 250px;
  left: 0;
  width: 100%;
  border-radius: 5px;
  background-color: #8fecf4;
  position: static;
}

.second_panel {
  position: static;
  top: 795px;
  height: 550px;
  background-color: #a8edf4;
}

.second_panel h2 {
  position : relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #181823;
  text-align: center;
  font-size: 40px;
  top : 100px;
}
.second_panel p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: rgb(1, 21, 46);
  text-align: center;
  padding : 50px 30px;
  font-size: 22px;
  position: relative;
  top : 120px;
}

.highlight {
  font-size: 25px;
  font-family: 'Raleway' , sans-serif;
  font-weight: 400;
  color: #181823;
}

.third_panel {
  position: static;
  display : block;
  top: 1345px;
  height: 550px;
  width: 100%;
  margin: auto;
  left: 0;
  text-align: center;
  justify-content: center;
  background-color: rgb(1, 21, 46);
  align-items: center;
  background-image: url('Pictures/logical-thinking.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.third_panel h2 {
  position : relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #a8edf4;
  text-align: center;
  font-size: 40px;
  top : 100px;
}

.third_panel p {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: rgb(190,232,251);
  text-align: center;
  padding : 50px 30px;
  font-size: 22px;
  position: relative;
  top : 150px;
  opacity: .5;
}
.form {
  width: 400px;
  position: relative;
  top: -70px;
  left: 870px;
  box-shadow: 1px 1px 2px #000000;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.form label {
  font-family: 'Raleway', sans-serif;
  padding: 5px 5px;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: rgb(1, 21, 46);
  font-size: 20px;
  background: #01172e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  text-decoration: none;
}

.bottom-container {
  top: 1895px;
  height: 550px;
  left: 0;
  text-align: center;
  background-size: cover;
  position: static;
  background-image: url('Pictures/contact.jpg');
  position : static;
  justify-content: center;
  align-items: center;
}

.bottom-container a {
  top : 450px;
  right: -400px;
  font-size: 25px;
  position: relative;
  color: #000000;
  opacity: .5;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  justify-content: right;
  align-items: center;
  padding: 20px 20px;
}

.bottom-container p {
  top : 450px;
  right: -400px;
  position: relative;
  color: #000000;
  opacity: .7;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  justify-content: right;
  align-items: center;
  padding: 20px 20px;
}


